<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BellyTracker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--Stylesheets-->
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $("#datepicker").datepicker();
        });

    </script>

</head>

<body ng-app='app'>
    <!--Navigation-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="" class="navbar-brand">BellyTracker</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--Establish button for window collapse-->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="diary.html">Diary</a></li>
                    <li><a href="insights.html">Insights</a></li>
                </ul>
                <!--User Options-->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="settings.html">Settings</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Diary-->
    <div ng-controller='DiaryCtrl' class="row diary-margins">
        <!--Diary Controls-->
        <div class="col-md-2">
            <form>
                <div class="input-group" style="padding-top: 10px;">
                    <span id="calendar" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input id="datepicker" style="cursor: pointer;" type="text" class="form-control">
                </div>
            </form>
            <button type="button" class="btn btn-default button-margins" data-toggle="modal" data-target="#addFoodModal">Add Food</button>
        </div>
        <!--Diary Data-->
        <div class="col-md-10 container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Unit</th>
                            <th>Calories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entry in entries | orderBy:'-date'">
                            <td>{{ entry.description }}</td>
                            <td> {{ entry.amount }}</td>
                            <td> {{ entry.unit }}</td>
                            <td> {{ entry.calories }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Add Food Modal-->
        <div class="modal fade" ng-model='modal' id="addFoodModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Food</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Description:</label>
                                <input ng-model='entryDescription' class="form-control" placeholder="Description" id="description">
                            </div>
                            <div class="form-group">
                                <label>Amount:</label>
                                <input ng-model='entryAmount' class="form-control" placeholder="Amount" id="amount">
                            </div>
                            <div class="form-group">
                                <label>Unit:</label>
                                <input ng-model='entryUnit' class="form-control" placeholder="Unit" id="unit">
                            </div>
                            <div class="form-group">
                                <label>Calories:</label>
                                <input ng-model='entryCalories' class="form-control" placeholder="Calories" id="calories">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click='addEntry()' type="button" class="btn btn-success" data-dismiss="modal">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/diary.js"></script>
</body>

</html>
